@define-color bg-color rgba(181, 181, 181, 0.2);
@define-color apps-bg-color rgba(181, 181, 181, 0.2);
@define-color text-color #cdd6f4;
@define-color active-color #9ec2fc;
@define-color hover-color #89b4fa;

* {
    border: none;
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
    font-weight: 500;
    color: @text-color;
    -webkit-font-smoothing: antialiased;
}

window#waybar {
    background: rgba(20, 20, 20, 0.2);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.187); */
}

/* Base module styling for standard "pills" */
#network,
#window,
#mpris,
#tray,
#dload,
#custom-updates,
#pulseaudio,
#custom-brightness,
#clock,
#custom-notification,
#custom-nightlight,
#custom-darkmode {
    padding: 0 8px;
    margin: 4px 3px;
    background: @bg-color;
    border-radius: 12px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

/* --- Launcher & App Group --- */
.modules-left > widget > box {
    background: @bg-color;
    border-radius: 12px;
    margin: 4px 3px;
    padding: 0 8px;
}

#window {
    background: transparent;
}

#apps {
    background: @apps-bg-color;
}

#custom-launcher {
    background: rgba(23, 147, 209, 0.15);
    color: #1793d1;
    padding: 0 14px 0 8px;
    margin: 4px 4px;
    border-radius: 50px;
}

#custom-term,
#custom-files,
#custom-browser,
#custom-vscode,
#custom-downloader,
#custom-ytdlp {
    background: transparent;
    padding: 0 8px;
}

#custom-term:hover,
#custom-files:hover,
#custom-browser:hover,
#custom-vscode:hover,
#custom-downloader:hover,
#custom-ytdlp:hover {
    color: @hover-color;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0;
    margin: 1px 2px;
    border-radius: 5px;
    background: @bg-color;
}

#workspaces button.active {
    color: @active-color;
    background: rgba(137, 180, 250, 0.25);
    padding: 0 4px;
}

/* --- Hardware Group --- */
#cpu,
#memory,
#temperature {
    background: transparent;
    padding: 0 6px;
}

/* --- Right Side Specifics --- */
#custom-nightlight {
    color: #fab387;
}

#custom-darkmode {
    color: #b4befe;
}

#clock {
    font-weight: bold;
    padding: 0 12px;
}

#custom-power {
    color: #f38ba8;
    background: rgba(243, 139, 168, 0.15);
    padding: 0 12px 0 10px;
    margin: 4px 8px 4px 2px;
    border-radius: 12px;
}