* {
    border: none;
    border-radius: 0;
    font-family: "Inter", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

window#waybar {
    background: rgba(20, 20, 20, 0.7);
    color: #cdd6f4;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.187); */
}

/* Base module styling for standard "pills" */
#network, #window, #mpris, #tray,
#custom-updates, #pulseaudio, #custom-backlight, 
#clock, #custom-notification, #custom-nightlight, #custom-darkmode {
    padding: 0 10px;
    margin: 4px 4px;
    background: rgba(181, 181, 181, 0.15);
    border-radius: 12px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

/* --- Launcher & App Group --- */
.modules-left > widget > box {
    background: rgba(181, 181, 181, 0.15);
    border-radius: 12px;
    margin: 4px 4px;
    padding: 0 10px;
}

#window {
    background: transparent;
}

#apps {
    background: rgba(137, 180, 250, 0.15);
}

#custom-launcher {
    background: rgba(23, 147, 209, 0.15);
    color: #1793d1;
    font-size: 14px;
    padding: 0 14px 0 8px;
    margin: 4px 4px;
    border-radius: 50px;
}

#custom-term, #custom-files, #custom-browser {
    background: transparent;
    padding: 0 10px;
    color: #cdd6f4;
    font-size: 15px;
}

#custom-term:hover, #custom-files:hover, #custom-browser:hover {
    color: #89b4fa;
}

/* --- Workspaces --- */
#workspaces button {
    color: #6c7086;
    padding: 4px 8px;
    margin: 5px 2px;
    border-radius: 8px;
    background: rgba(181, 181, 181, 0.15);
}

#workspaces button.active {
    color: #89b4fa;
    background: rgba(137, 180, 250, 0.15);
    padding: 0 12px;
}

/* --- Hardware Group --- */
#cpu, #memory, #temperature {
    background: transparent;
    padding: 0 8px;
}

/* --- Right Side Specifics --- */
#custom-nightlight { color: #fab387; }
#custom-darkmode { color: #b4befe; }
#clock { 
    font-weight: bold; 
    padding: 0 15px;
}

#custom-power {
    color: #f38ba8;
    background: rgba(243, 139, 168, 0.15);
    padding: 0 12px 0 10px;
    margin: 4px 8px 4px 2px;
    border-radius: 12px;
}