* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(21, 21, 23, 0.979);
}

button {
	border-radius: 10;
	border-color: #281e31;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #101019;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 4px;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: url("/home/mark/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/mark/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/mark/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/mark/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/mark/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/mark/.config/wlogout/icons/reboot.svg");
}
